@charset "UTF-8";

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(230, 230, 230);
}

section{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: inline-block;
    align-items: center;
    font-family: Arial, sans-serif;
}